* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", Roboto, sans-serif;
}

nav ul  {
  list-style: none;
}
/* HELPER CLASSES*/

.container {
  width: 1024px;
  margin:0 auto;
}

.bg-dark {
  background-color: #1F2937;
}

.flex {
  display: flex;
}

/* HEADER*/

header {
  color: #E5E7EB;
}

nav {
  padding: 10px 0;
  align-items: baseline;
}

nav ul {
  gap: 1em;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  margin: 0;
  margin-right: auto;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.hero {
  gap: 2em;
  padding: 7em 0 9em;
}
.hero-copy, .hero-img {
  flex: 1;
}

.hero-secondary-text {
  font-size: 18px;
}

.hero-button {
  background-color: #3882F6;
  border: 2px solid #3882F6;
  color: #F9FAF8;
  padding: .5em 2em;
  margin-top: 1em;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
}

/* INFORMATION SECTION */

.information-title {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
  margin: 1.5em;
}

.information-cards {
  justify-content: center;
  padding-bottom: 8em;
  gap: 4em;
}

.card {
  width: 160px;
  text-align: center;
}

.card img {
  border: 4px solid #3882F6;
  border-radius: 25px;
  height: 160px;
  width: 160px;
}

/* QUOTE SECTION */

.quote-section {
  background-color: #E5E7EB;
  padding: 6em 0;
}

blockquote {
  padding: 0 10em;
}

.quote-text {
  font-style: italic;
  color: #1F2937;
  font-size: 36px;
  font-weight: 300;
}

.quote-author {
  text-align: right;
  font-size: 24px;
  font-weight: 700;
}

/* CTA SECTION */

.cta-box {
  background-color: #3882F6;
  color: #F9FAF8;
  margin: 6em 0;
  justify-content: space-around;
  padding: 3.5em 0;
  align-items: center;
  border-radius: 15px;
}

.cta-button {
  background-color: transparent;
  color: #F9FAF8;
  border: 2px solid #F9FAF8;
  font-size: 16px;
  padding: .5em 2em;
  border-radius: 5px;
  font-weight: 600;
}

/* FOOTER */

footer {
  text-align: center;
  color: #F9FAF8;
  padding: 2.5em;
}